<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addWaiter" class="add_delete_waiter.AddWaiter"/>
    <bean id="deleteWaiter" class="add_delete_waiter.DeleteWaiter"/>
    <bean id="container" class="add_delete_waiter.WaiterConstructor"/>
    <bean id="waiterConstructor" class="add_delete_waiter.WaiterConstructor"/>


</beans>